#top-nav {
    background-color: white;
    padding :0px;
}
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:white;
}

#header-title {
    font-size: 24px;
    background: #4aaaa5;
    color: white;
    width: auto;
    padding: 10px 20px;
    margin-bottom: 3px;
}

.article-title {
    color: teal;
}
body{
    background-image: url(../images/concrete_seamless.png);
    padding-bottom: 70px;
}

article {
    background: white;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
hr {
    background: #949393;
    height: 2px;
    margin: 2px 0px 20px ;
    border-top: 3px;
}

.article-img {
    margin: 10px;
}

#copyright {
    margin-top: 20px;
}

footer {
    height: 50px;
    background: #666666;
    text-align: center;
    color: #b1abab;
    bottom: 0;
    position: absolute;
    left: 0px;
    width: 100%;
}

#copyright {
    margin-top: 10px;
}

.footer-divider {
    color: #4aaaa5;
    margin: 0px; 
    border: 3px solid;
}
.btn-primary {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}
form {
    color: #777777;
}
.text-block {
    position: relative;
    bottom: 46px; 
    background: #4aaaa5;
    color:white;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}